.task {
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    margin-bottom: 10px;
    color: white;
  }
  
  .task.low {
    background-color: #38a169;
  }
  
  .task.normal {
    background-color: #3182ce;
  }
  
  .task.high {
    background-color: #e53e3e;
  }
  
  .task p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  
  .task .priority {
    border: 1px solid white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  