.task {
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 12px;
  color: white;
  font-weight: bold;
}

.task.low {
  background-color: #50fa7b;
}

.task.normal {
  background-color: #6272a4;
}

.task.high {
  background-color: #ff5555;
}

.task p {
  margin: 5px 0;
  font-size: 1rem;
}

.task .priority {
  border: 1px solid white;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.9rem;
}
